<div class="form-container" >
    <div>
        <button ng-click="$ctrl.form = 'login'" class="full-btn" >Login</button>
        <button ng-click="$ctrl.form = 'create'"  >Create</button>
    </div>
    
    <diary-error ng-if="$ctrl.errors !== null" error="$ctrl.errors"></diary-error>
    
    <form ng-if="$ctrl.form === 'login'" >
        <h2>Login</h2>
        <input type="text" ng-model="$ctrl.username" placeholder="username">
        <input type="password" ng-model="$ctrl.password" placeholder="password">
        <button ng-click="$ctrl.login()" >Confirm</button>
    </form>
    
    <form ng-if="$ctrl.form === 'create'" >
        <h2>Create</h2>
        <input type="text" ng-model="$ctrl.username" placeholder="username">
        <input type="password" ng-model="$ctrl.password" placeholder="password">
        <input type="password" ng-model="$ctrl.confirmpassword" placeholder="confirm password">
        <button  ng-click="$ctrl.create()" >Confirm</button>
    </form>

    <div ng-if="$ctrl.form !== 'create' && $ctrl.form !== 'login'" >
        <p> Login or create an account and keep your own dear diary. </p>
        <p> Write a record of events, transactions, or observations daily or at a frequent interval. </p>
    </div>

</div>

