<button ng-click="$ctrl.form = 'login'" >Login</button>
<button ng-click="$ctrl.form = 'create'" >Create</button>

<form ng-if="$ctrl.form === 'login'" >
    <h2>Login</h2>
    <input type="text" ng-model="$ctrl.username" placeholder="username">
    <input type="password" ng-model="$ctrl.password" placeholder="password">
    <button>Confirm</button>
</form>

<form ng-if="$ctrl.form === 'create'" >
    <h2>Create</h2>
    <input type="text" ng-model="$ctrl.username" placeholder="username">
    <input type="password" ng-model="$ctrl.password" placeholder="password">
    <input type="password" ng-model="$ctrl.password" placeholder="confirm password">
    <button>Confirm</button>
</form>

{{$ctrl.username}}
{{$ctrl.password}}

