
<nav class="nav" >
    <div>
        <button ng-click="$ctrl.diarySection = 'profile'" >Profile</button>
        <button ng-click="$ctrl.diarySection = 'entries'" >Entries</button>
        <button ng-click="$ctrl.diarySection = 'options'" >Settings</button>
        <button ng-click="$ctrl.logout()" >Logout</button>
    </div>
</nav>

<div class="section-container" >
    <h2> {{ $ctrl.user }} </h2>

    <diary-error ng-if="$ctrl.errors !== null" error="$ctrl.errors"></diary-error>

    <div class="error" >
        <p ng-repeat="error in $ctrl.errors" > {{ error.msg }} {{ error.message }}  </p>
    </div>

    <!-- Entries, new entry and single entry -->
    <div ng-if="$ctrl.diarySection === 'entries'" >
        <h3>Diary Entries</h3>
        <button ng-click="$ctrl.diarySection = 'newEntry'" >New</button>

        <div class="entry-container" >
            <div ng-repeat="entry in $ctrl.entries | orderBy: none : true" ng-click="$ctrl.opneEntry(entry)" >
                <p> {{ entry.date | date }} </p>
                <div>
                    <p> Dear Diary, </p>
                    <p> {{ entry.text | limitTo : 100 }} </p>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="$ctrl.diarySection === 'newEntry'" >
        <h3>New Entry</h3>
        <button ng-click="$ctrl.diarySection = 'entries'" >Cancel</button>
        <p> Date: {{ $ctrl.currentDate }} </p>
        <p>Dear Diary,</p>
        <form class="diary-form" >
            <textarea cols="30" rows="10" ng-model="$ctrl.entryText" ></textarea>
            <button ng-click="$ctrl.saveEntry()" > Save </button>
        </form>
    </div>

    <div ng-if="$ctrl.diarySection === 'singleEntry'" >
        <h3> {{ $ctrl.singleEntry.date | date }} </h3>
        <button ng-click="$ctrl.diarySection = 'entries'" >Back</button>
        <button class="delete" ng-click="$ctrl.deleteEntry($ctrl.singleEntry.entryID)" >Delete</button>
        <p>Dear Diary,</p>
        <p> {{ $ctrl.singleEntry.text }} </p>
    </div>

    <!-- Profile and edit profile -->
    <div ng-if="$ctrl.diarySection === 'profile'" >
        <h3>Profile</h3>
        <button ng-click="$ctrl.diarySection = 'editProfile'" ng-if="$ctrl.profile" >Edit</button>
        <button ng-click="$ctrl.diarySection = 'editProfile'" ng-if="!$ctrl.profile" >Create</button>
        <div ng-if="$ctrl.profile" class="profile-info" >
            <p> {{ $ctrl.profile.name  }} {{ $ctrl.profile.surname }} </p>
            <p> {{ $ctrl.profile.birthday | date }} </p>
            <p> {{ $ctrl.profile.country }} </p>
            <p> {{ $ctrl.profile.city }} </p>
        </div>
    </div>

    <div ng-if="$ctrl.diarySection === 'editProfile'" >
        <h3>Edit Profile</h3>
        <button ng-click="$ctrl.diarySection = 'profile'" >Cancel</button>

        <form class="diary-form" name="profileForm" >
            <div>
                <input type="text" ng-model="$ctrl.profileUP.name" name="name" ng-minlength="3" >
                <label> Name </label>
                <span class="error-message" ng-show="profileForm.name.$dirty
                        && profileForm.name.$error.minlength">
                        Must be a Minimum of 3 Characters
                </span>
        </span>
            </div>

            <div>
                <input type="text" ng-model="$ctrl.profileUP.surname" name="surname" ng-minlength="3">
                <label> Surname </label>
                <span class="error-message" ng-show="profileForm.surname.$dirty
                        && profileForm.surname.$error.minlength">
                        Must be a Minimum of 3 Characters
                </span>
            </div>

            <div>
                <input type="text" ng-model="$ctrl.profileUP.country" name="country" ng-minlength="3" >
                <label> Country </label>
                <span class="error-message" ng-show="profileForm.country.$dirty
                        && profileForm.country.$error.minlength">
                        Must be a Minimum of 3 Characters
                </span>
            </div>

            <div>
                <input type="text" ng-model="$ctrl.profileUP.city" name="city" ng-minlength="3" >
                <label> City </label>
                <span class="error-message" ng-show="profileForm.city.$dirty
                        && profileForm.city.$error.minlength">
                        Must be a Minimum of 3 Characters
                </span>
            </div>

            <div>
                <input type="date" ng-model="$ctrl.profileUP.birthday" placeholder="yyyy-mm-dd"  >
                <label> Birthday </label>
            </div>

            <button ng-click="$ctrl.updateProfile()" ng-if="$ctrl.profile"  ng-disabled="profileForm.$invalid" >Save</button>
            <button ng-click="$ctrl.createProfile()" ng-if="!$ctrl.profile"  ng-disabled="profileForm.$invalid" >Create</button>
        </form>

    </div>

    <!-- Settings -->
    <div ng-if="$ctrl.diarySection === 'options'" >
        <h3>Settings</h3>

        <h5>Profile</h5>
        <button ng-click="$ctrl.diarySection = 'editProfile'" >Edit Profile</button>
        
        <h5>Themes</h5>
        <label >Orange</label>
        <input type="radio" ng-model="$ctrl.theme" value="#FFA500" ng-change="$ctrl.changeTheme()" >
        <label > | Ocean</label>
        <input type="radio" ng-model="$ctrl.theme" value="#88ccff"  ng-change="$ctrl.changeTheme()" >
        <label > | Nature</label>
        <input type="radio" ng-model="$ctrl.theme" value="#80fc33"  ng-change="$ctrl.changeTheme()" >
        <label > | Custom</label>
        <input type="color" ng-model="$ctrl.theme"  ng-change="$ctrl.changeTheme()" >

        <h5>Delete Account</h5>
        <button class="delete" ng-click="$ctrl.deleteAccount()" >Delete</button>
    </div>

</div>